body {
    margin: 10em 20em;
    background-color: #8B0000;
}

body, table {
    text-align: center;
}

h1 {
    color: rgb(255, 191, 64);
    margin-top: 50px;
}

.campo {
    margin-bottom: 12px;
    padding: 0;
    width: 100.0%;
}

.captcha {
    margin-bottom: 12px;
    padding: 0;
    width: 100.0%;
}

.envio {
 
    margin: 12px,12px,12px,12px;
    padding-bottom: 50;
    width: 20%;
}

.FormularioDiv {
    background-color: antiquewhite;
    padding-top: 5px;
}

input, select {
    display: block;
    padding: 0 10px;
    height: 20px;
}

input {
    width: 90%;
    margin: 0 20px;
    line-height: 1.5;
}

select {
    width: 95%;
    margin-left: 20px;
}

label {
    display: flex;
    margin-left: 30px;
    margin-bottom: 5px;
}

tr {
    margin-bottom: 2px;
}

.inputs {
    flex-flow: column nowrap;
    align-items: flex-start;
}
